.hex {
    float: left;
    margin-right: -3px;
    margin-bottom: -6px;
}

.hex .left {
    float: left;
    width: 0;
    border-right: 4px solid #efefef;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

.hex .middle {
    float: left;
    width: 8px;
    height: 14px;
    background: #efefef;
}

.hex .right {
    float: left;
    width: 0;
    border-left: 4px solid #efefef;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

.hex.alive .right  {
    border-left: 4px solid #888;
}

.hex.alive .middle {
    background: #888;
}

.hex.alive .left {
    border-right: 4px solid #888;
}

.hex-row {
    clear: left;
}

.hex.even {
    margin-top: 7px;
}

#world {
    text-align: center;
    margin: 10px auto;
    width: 1050px;
}
