table {
    background-color: #efefef;
    margin: auto;
}

td {
    border: 1px solid #aaa;
    width: 10px;
    height: 10px;
}

td.alive {
    background: #888;
}

#world {
    text-align: center;
    width: 100%;
}
